/* ===== Mobile ===== */
@media (max-width:767px) {
    .hero {
        padding: 20px;
    }

    .hero .container, 
    .services .container, 
    .why .container, 
    .dark-slab .container, 
    .testimonials .container,
    .contact .container{
        width: 96%;
    }

    .container .hero-title {
        font-size: 40px;
    }

    .container .section-title {
        font-size: 30px;
    }

    .footer-grid {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer-brand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .container h5 {
        text-align: center;
    }

    .footer-col ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        column-gap: 20px;
    }

    .footer-col .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .site-footer .brand {
        font-size: 45px;
    }

    .footer-brand p {
        width: 100%;
    }
    
    .site-footer .footer-brand {
        width: 100%;
    }
    
    .card {
        flex: 0 0 50%;
    }

    .service-card .media {
        height: 300px;
    }

    .prc-grid {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 640px) {
    .hero {
        padding: 0;
    }

    .eyebrow {
        font-size: 18px;
    }

    .subtext {
        font-size: 16px;
    }

    .hero .btn {
        margin: 20px;
    }

    .hero-image {
        height: 300px;
    }

}