@media (max-width: 1024px) {

    .container .hero-title {
        font-size: 50px;
    }

    .container .section-title {
        font-size: 45px;
    }

    .container .service-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .service-card .media{
        height: 450px;
    }
    
    .service-card h3 {
        margin-top: 40px;
        font-size: 30px;
    }

    .nav-toggle {
        display: inline-block;
        z-index: 1002;
    }

    .header-cta {
        display: none;
    }

    .menu-cta {
        display: block;
        margin-top: 20px;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 40px 20px;
        transform: translateX(-100%);
        transition: transform .3s ease;
        z-index: 1001;
    }

    .nav a {
        font-size: 20px;
        padding: 14px 20px;
        border-radius: 10px;
        background: rgba(255, 255, 255, .04);
        border: 1px solid rgba(255, 255, 255, .06);
        width: 220px;
        text-align: center;
    }

    body.menu-open .nav {
        transform: translateX(0);
    }

    /* Toggle animation */
    body.menu-open .nav-toggle .nav-toggle-bar:nth-child(1) {
        top: 21px;
        transform: rotate(45deg);
    }

    body.menu-open .nav-toggle .nav-toggle-bar:nth-child(2) {
        opacity: 0;
    }

    body.menu-open .nav-toggle .nav-toggle-bar:nth-child(3) {
        top: 21px;
        transform: rotate(-45deg);
    }

    .services {
        padding: 30px;
    }

    .services {
        padding: 0;
    }

    .icon-grid {
        display: flex;
        flex-direction: column;
    }

    .why .container {
        width: 94%;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr
    }

    .site-footer .footer-brand {
        width: 25%;
    }

    .site-footer .container {
        width: 100%;
    }

    .footer-brand p {
        width: 100%;
    }

    /* TESTIMONIALS */

    .carousel-wrapper {
        display: block;
    }

    .card {
        flex: 0 0 48%;
    }
    
    .testimonials .container {
        width: 100%;
    }

    .site-header .container {
        padding: 0 15px;
    }

}